In [2]:
import pandas as pd
from acquire import get_codeup_data

# ACQUIRE
I will acquire the data for this project using __get_codeup_data__ function from my __wrangle.py__ file.

In [3]:
# using function to acquire data
data = get_codeup_data()

# preview data
data.head()

,date,time,page_viewed,user_id,cohort_id,ip
datetime,,,,,,
2018-01-26 09:55:03,2018-01-26,09:55:03,/,1,8.0,97.105.19.61
2018-01-26 09:56:02,2018-01-26,09:56:02,java-ii,1,8.0,97.105.19.61
2018-01-26 09:56:05,2018-01-26,09:56:05,java-ii/object-oriented-programming,1,8.0,97.105.19.61
2018-01-26 09:56:06,2018-01-26,09:56:06,slides/object_oriented_programming,1,8.0,97.105.19.61
2018-01-26 09:56:24,2018-01-26,09:56:24,javascript-i/conditionals,2,22.0,97.105.19.61